{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/box3.css" %}">
{% endblock %}
{% block custom_js %}
    <script src="{% static 'js/box.js' %}" type="text/javascript"></script>
    <script>
        function PostPic() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/distinguish/post_pic/?', true);
            var _pic = document.getElementById('pic');
            var paramas = 'src=' + _pic.src;
            console.log(_pic.src);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    data = JSON.parse(xhr.responseText);
                    console.info(data)
                    if (data.msg == 'fail') {
                        alert('请选择带有二维码的图片！')
                    }
                    if (data.msg == 'url'){
                        $('#result_text').empty();
                        $("#result_url").attr("href", data.url);
                        $("#result_url").text(data.url)
                    }
                    if (data.msg == 'text'){
                        $('#result_url').empty();
                        $("#result_text").text(data.text)
                    }
                }
            };
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send(paramas);
        }
    </script>
{% endblock %}
{% block aside %}
{% endblock %}
{% block content_left %}
    <div class="box3">
        <input type="file" name="" id="_image" style="display:none;" value="" onchange="showPicture(this)"/>

        <img id="pic" src="{% static 'img/pic.png' %}" style="cursor: pointer;" onclick="click_input()"/>
        {#        <textarea name="" rows="" cols="" style="overflow: hidden;" placeholder="给图片加点描述"></textarea>#}
        <input type="button" name="but_pic" id="but_pic" onclick="PostPic()" value="提交图片" style="cursor: pointer;"/>
    </div>
{% endblock %}
{% block content_right %}
    <div class="r_article">
        <div class="box">
            <a id="result_url" href="" target="_blank"></a>
            <P id="result_text"></P>
        </div>
    </div>
{% endblock %}